html
  head
    title= title
  body
    ul
    - var groupedTasks = _.groupBy(tasks, task => (new Date(task.completed_at)).toLocaleDateString());
    each dateTasks, dateGroup in groupedTasks
      each task in dateTasks
        li= dateGroup + ' ' + task.title
